/*============ Footer Styles ============*/
.footer {
    padding-top: 3rem;
    width: 100%;
    
    
    &-content--left {
        float: left;
        width: 50%;
        text-align: left;
        padding-right: 4rem;
    }

    &-content--right {
        float: right;
        width: 50%;
        padding-left: 4rem;
    }

    .section-title {
        color: $primary_color_2;
    }

    .social-group {
        display: block;

        a {
            color: $secondary_color;
            margin-right: 20px;
            opacity: .9;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .copyright {
        max-width: 1024px;
        height: 60px;
        margin: 0 auto;
        text-align: center;
    }
}

.color-group {
    display: block;
    float: left;
    height: 100%;

    .color {
        margin-right: 15px;
        padding: 0;
        float: left;
        height: 40px;
        width: 50px;
    }
    .primary-1 {
        background-color: $primary_color;
    }

    .primary-2 {
        background-color: $primary_color_2;
    }

    .secondary {
        background-color: $secondary_color;
    }

    .secondary-gray {
        background-color: $secondary_colorGray;
    }
}

.credits {
    display: block;
    float: left;
    width: 100%;

    a {
        font-size: 14px;
        padding-right: 7px;
        border-right: 1px solid $secondary_colorGray;

        &:last-child {
            padding-right: 0;
            border: none;
        }
    }
}