/*============ Footer Styles ============*/
.footer {
    padding-top: 3rem;
    width: 100%;
    text-align: center;
    
    .section-title {
        color: $primary_color_2;
        text-align: center;
    }
    
    .social-group {
        display: flex;
        max-width: 30%;
        margin: 0 auto;
        
        a {
            color: $secondary_color;
            opacity: .9;
            
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
        
        .fa-facebook {
            color: $facebook_color;
        }
        
        .fa-twitter-square {
            color: $twitter_color;
        }
        
        .fa-github-square {
            color: $github_color;
        }
        
        .fa-linkedin {
            color: $linkedin_color;
        }
    }
    
    .email {
        color: $primary_color;
    }
    .copyright {
        max-width: 1024px;
        padding: 1rem 0;
        margin: 0 auto;
        text-align: center;
    }
}

.credits {
    width: 100%;
    padding: 1rem 0;
    
    h5 {
        display: inline;
    }
    
    a {
        display: inline;
        font-size: 12px;
        
        &:not(:last-child) {
            padding-right: 7px;
            border-right: 1px solid $secondary_colorGray;
        }
    }
}