.hero {
    float: left;
    margin-top: -20px;
    width: 100%;

    &-inner {
    height: 300px;
    background-image: linear-gradient(rgba($secondary_color, .3), rgba($primary_color_2, .9)),url("../../images/coding_day.png");
    background-position: center center;
    background-size: cover;
    }
}