/*============ Work Styles ============*/
.work {
    margin: 0;
    padding: 0;
}

.work-item {
    display: flex;
    justify-content: space-between;

    &--list {
        flex-basis: 32%;
        text-align: center;
    }

    &--img {
        margin: 0;
        opacity: .8;
        transition: all 0.4s ease-in;

        &:hover {
            opacity: 1;
        }
    }

    &--title {
        font-size: 1.15rem;
        margin-top: 10px;
        text-align: center;
        text-transform: uppercase;
    }

    &--desc {
        margin: 0;
        padding: 15px;
    }
}