/*============ Work Styles ============*/
.work {
    margin: 0;
    padding: 0;
}

.work-item {
    padding-bottom: 20px;

    &--list {
        text-align: center;
        margin-bottom: 1.25rem;
    }

    &--img {
        margin: 0;
        transition: all 0.4s ease-in;

        &:hover {
            opacity: 0.6;
        }
    }

    &--title {
        font-size: 1.15rem;
        margin-top: 10px;
        text-align: center;
        text-transform: uppercase;
    }

    &--desc {
        margin: 0;
        padding: 15px;
    }
}