/*============ Global Styles ============*/

html {
    background: #fff;
}

body {
    font: 300 17px/1.65 "Raleway", sans-serif;
    color: $secondary_color;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

section {
    padding: 3rem 0;
}

.section-title {
    color: $secondary_color;
    font-size: 180%;
    font-weight: 500;
    opacity: 0.8;
    text-align: center;
}