// Main Colors
$primary_color: #7ebc59;
$primary_color_2: #368cbf;
$secondary_color: #33363b;
$secondary_colorGray: #eaeaea;
$facebook_color: #3b5998;
$twitter_color: #1da1f2;
$github_color: #333;
$linkedin_color: #0077b5;