@import url(normalize.css);
/*============ Global Styles ============*/
body {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  font-weight: 300;
  color: #33363b;
  line-height: 1.65; }

img {
  max-width: 100%;
  height: auto; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

button {
  border: none; }

section {
  padding: 3rem 0; }

.section-title {
  color: #33363b;
  font-size: 180%;
  font-weight: 500;
  opacity: .8; }

.wrapper {
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1236px; }

.wrapper-flex {
  display: flex; }

#nav {
  margin-left: auto; }

.nav-item {
  margin: 0;
  text-align: right;
  text-transform: uppercase; }
  .nav-item--title {
    color: #33363b;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 5px;
    margin: 0;
    padding: 0; }
  .nav-item--subtitle {
    color: #33363b;
    font-size: 1.55rem;
    font-weight: 600;
    float: right;
    margin-top: -20px;
    margin-bottom: 10px;
    opacity: .8; }

.hero {
  float: left;
  margin-top: -20px;
  width: 100%; }
  .hero-inner {
    height: 300px;
    background-image: linear-gradient(rgba(51, 54, 59, 0.3), rgba(54, 140, 191, 0.9)), url("../../images/coding_day.png");
    background-position: center center;
    background-size: cover; }

.header {
  height: 200px;
  width: 100%;
  float: left;
  margin: 0;
  padding: 0; }
  .header .wrapper {
    margin: 0 auto;
    padding: 0 auto;
    border-bottom: 4px solid #7ebc59; }

.logo {
  color: #7ebc59;
  font-size: 4rem;
  font-weight: bold;
  width: 100px;
  float: left;
  margin: 0; }

/*============ Work Styles ============*/
.work {
  margin: 0;
  padding: 0; }

.work-item {
  display: flex;
  justify-content: space-between; }
  .work-item--list {
    flex-basis: 32%;
    text-align: center; }
  .work-item--img {
    margin: 0;
    opacity: .8;
    transition: all 0.4s ease-in; }
    .work-item--img:hover {
      opacity: 1; }
  .work-item--title {
    font-size: 1.15rem;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase; }
  .work-item--desc {
    margin: 0;
    padding: 15px; }

/*============ Footer Styles ============*/
.footer {
  padding-top: 3rem;
  width: 100%; }
  .footer-content--left {
    float: left;
    width: 50%;
    text-align: left;
    padding-right: 4rem; }
  .footer-content--right {
    float: right;
    width: 50%;
    padding-left: 4rem; }
  .footer .section-title {
    color: #368cbf; }
  .footer .social-group {
    display: block; }
    .footer .social-group a {
      color: #33363b;
      margin-right: 20px;
      opacity: .9; }
      .footer .social-group a:last-child {
        margin-right: 0; }
  .footer .copyright {
    max-width: 1024px;
    height: 60px;
    margin: 0 auto;
    text-align: center; }

.color-group {
  display: block; }
  .color-group .color {
    margin-right: 15px;
    padding: 0;
    float: left;
    height: 40px;
    width: 50px; }
  .color-group .primary-1 {
    background-color: #7ebc59; }
  .color-group .primary-2 {
    background-color: #368cbf; }
  .color-group .secondary {
    background-color: #33363b; }
  .color-group .secondary-gray {
    background-color: #eaeaea; }
