@import url(normalize.css);
/*============ Global Styles ============*/
body {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  font-weight: 300;
  color: #33363b;
  line-height: 1.65; }

img {
  max-width: 100%;
  height: auto; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

button {
  border: none; }

.wrapper {
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1236px; }

.wrapper-flex {
  display: flex; }

#nav {
  margin-left: auto; }

.nav-item {
  margin: 0;
  text-align: right;
  text-transform: uppercase; }
  .nav-item--title {
    color: #33363b;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 5px;
    margin: 0;
    padding: 0; }
  .nav-item--subtitle {
    color: #33363b;
    font-size: 1.55rem;
    font-weight: 600;
    float: right;
    margin-top: -20px;
    margin-bottom: 10px;
    opacity: .8; }

.hero {
  float: left;
  margin-top: -20px;
  width: 100%; }
  .hero-inner {
    height: 300px;
    background-image: linear-gradient(rgba(51, 54, 59, 0.3), rgba(54, 140, 191, 0.9)), url("../../images/coding_day.png");
    background-position: center center;
    background-size: cover; }

.header {
  height: 200px;
  width: 100%;
  float: left;
  margin: 0;
  padding: 0; }
  .header .wrapper {
    margin: 0 auto;
    padding: 0 auto;
    border-bottom: 4px solid #7ebc59; }

.logo {
  color: #7ebc59;
  font-size: 4rem;
  font-weight: bold;
  width: 100px;
  float: left;
  margin: 0; }
